{% extends 'global_menu.html' %}
{% block content %}
  <h1>テストユーザー認可</h1>
  <h2>対象テスト: {{ subject_test.name }}</h2>
  <p>テストにアサインする</p>

  <form method="post">
    {% csrf_token %}
    {% if custom_users %}
      {% for user in custom_users %}
        <div>
          <input type="checkbox" name="select" value="{{ user.id }}"> {{ user.username }}
        </div>
      {% endfor %}
      <button type="submit">認可する</button>
    {% else %}
      <p>no list</p>
    {% endif %}
  </form>
{% endblock %}