{% extends 'global_menu.html' %}
{% block head_title %}Tester Recruting テスト作成{% endblock %}
{% load static %}
<head>
    <link href="{% static 'css/auth/createpost.css' %}" rel="stylesheet">
</head>
{% block content %}
  <div class="container mt-5">
    <h2>Create New Test Post</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <!--<div class="form-group">
        <label for="{{ form.PostName.id_for_label }}">Post Name</label>
        {{ form.PostName }}
      </div>
      <div class="form-group">
        <label for="{{ form.Discription.id_for_label }}">Description</label>
        {{ form.Discription }}
      </div>
      <div class="form-group">
        <label for="{{ form.RecrutingNum.id_for_label }}">Recruiting Number</label>
        {{ form.RecrutingNum }}
      </div>
      <div class="form-group">
        <label for="{{ form.ApplyNum.id_for_label }}">Apply Number</label>
        {{ form.ApplyNum }}
      </div>
      <div class="form-group">
        <label for="{{ form.TestType.id_for_label }}">Test Type</label>
        {{ form.TestType }}
      </div>
      <div class="form-group">
        <label for="{{ form.TestTypeSubcls.id_for_label }}">Test Type Subclass</label>
        {{ form.TestTypeSubcls }}
      </div>
      <div class="form-group">
        <label for="{{ form.RecrutingPeriodSt.id_for_label }}">Recruiting Period Start</label>
        {{ form.RecrutingPeriodSt }}
      </div>
      <div class="form-group">
        <label for="{{ form.recruiting_period_st_year.id_for_label }}">Year</label>
        {{ form.recruiting_period_st_year }}
        <label for="{{ form.recruiting_period_st_month.id_for_label }}">Month</label>
        {{ form.recruiting_period_st_month }}
        <label for="{{ form.recruiting_period_st_day.id_for_label }}">Day</label>
        {{ form.recruiting_period_st_day }}
      </div>
      <div class="form-group">
        <label for="{{ form.RecrutingPeriodEnd.id_for_label }}">Recruiting Period End</label>
        {{ form.RecrutingPeriodEnd }}
      </div>
      <div class="form-group">
        <label for="{{ form.recruiting_period_end_year.id_for_label }}">Year</label>
        {{ form.recruiting_period_end_year }}
        <label for="{{ form.recruiting_period_end_month.id_for_label }}">Month</label>
        {{ form.recruiting_period_end_month }}
        <label for="{{ form.recruiting_period_end_day.id_for_label }}">Day</label>
        {{ form.recruiting_period_end_day }}
      </div>
      <div class="form-group">
        <label for="{{ form.TestStart.id_for_label }}">Test Start</label>
        {{ form.TestStart }}
      </div>
      <div class="form-group">
        <label for="{{ form.test_start_year.id_for_label }}">Year</label>
        {{ form.test_start_year }}
        <label for="{{ form.test_start_month.id_for_label }}">Month</label>
        {{ form.test_start_month }}
        <label for="{{ form.test_start_day.id_for_label }}">Day</label>
        {{ form.test_start_day }}
      </div>
      <div class="form-group">
        <label for="{{ form.TestEnd.id_for_label }}">Test End</label>
        {{ form.TestEnd }}
      </div>
      <div class="form-group">
        <label for="{{ form.test_end_year.id_for_label }}">Year</label>
        {{ form.test_end_year }}
        <label for="{{ form.test_end_month.id_for_label }}">Month</label>
        {{ form.test_end_month }}
        <label for="{{ form.test_end_day.id_for_label }}">Day</label>
        {{ form.test_end_day }}
      </div>-->
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
{% endblock %}
