{% extends 'global_menu.html' %}
{% block head_title %}Tester Recruting テスト作成{% endblock %}
{% load static %}
{% block content %}
<head>
  <title>{% block title %}Tement - 新規テスト作成{% endblock %}</title>
    <link href="{% static 'css/auth/createpost.css' %}" rel="stylesheet">
    <script>
      function updateDays(dayFieldId, monthFieldId, yearFieldId) {
          var dayField = document.getElementById(dayFieldId);
          var monthField = document.getElementById(monthFieldId);
          var yearField = document.getElementById(yearFieldId);
          var selectedMonth = parseInt(monthField.value);
          var selectedYear = parseInt(yearField.value);

          var daysInMonth = new Date(selectedYear, selectedMonth, 0).getDate();

          dayField.innerHTML = '';
          for (var i = 1; i <= daysInMonth; i++) {
              var option = document.createElement("option");
              option.value = i;
              option.text = i;
              dayField.add(option);
          }
      }

      document.addEventListener("DOMContentLoaded", function() {
          updateDays('id_recruiting_period_st_day', 'id_recruiting_period_st_month', 'id_recruiting_period_st_year');
          updateDays('id_recruiting_period_end_day', 'id_recruiting_period_end_month', 'id_recruiting_period_end_year');
          updateDays('id_test_start_day', 'id_test_start_month', 'id_test_start_year');
          updateDays('id_test_end_day', 'id_test_end_month', 'id_test_end_year');

          document.getElementById('id_recruiting_period_st_month').addEventListener('change', function() {
              updateDays('id_recruiting_period_st_day', 'id_recruiting_period_st_month', 'id_recruiting_period_st_year');
          });
          document.getElementById('id_recruiting_period_st_year').addEventListener('change', function() {
              updateDays('id_recruiting_period_st_day', 'id_recruiting_period_st_month', 'id_recruiting_period_st_year');
          });
          document.getElementById('id_recruiting_period_end_month').addEventListener('change', function() {
              updateDays('id_recruiting_period_end_day', 'id_recruiting_period_end_month', 'id_recruiting_period_end_year');
          });
          document.getElementById('id_recruiting_period_end_year').addEventListener('change', function() {
              updateDays('id_recruiting_period_end_day', 'id_recruiting_period_end_month', 'id_recruiting_period_end_year');
          });
          document.getElementById('id_test_start_month').addEventListener('change', function() {
              updateDays('id_test_start_day', 'id_test_start_month', 'id_test_start_year');
          });
          document.getElementById('id_test_start_year').addEventListener('change', function() {
              updateDays('id_test_start_day', 'id_test_start_month', 'id_test_start_year');
          });
          document.getElementById('id_test_end_month').addEventListener('change', function() {
              updateDays('id_test_end_day', 'id_test_end_month', 'id_test_end_year');
          });
          document.getElementById('id_test_end_year').addEventListener('change', function() {
              updateDays('id_test_end_day', 'id_test_end_month', 'id_test_end_year');
          });
      });
  </script>
</head>
  <div class="container mt-5">
    <h2 class="mb-4">Create New Test Post</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="fs-4 mb-2" for="{{ form.PostName.id_for_label }}">テスト名</label>
          {{ form.PostName }}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="fs-4 mb-2" for="{{ form.Discription.id_for_label }}">説明文</label>
          {{ form.Discription }}
        </div>
      </div>
      <!--人数選択-->
      <!--人数選択：募集人数（応募上限数）-->
      <div class="row mb-3">
        <div class="col-12 col-sm-6">
            <label class="fs-4 mb-2">募集人数（応募上限数）</label>
            <div class="d-flex align-items-center">
                <label class="fs-5 mb-2" for="{{ form.RecrutingNumPeople.id_for_label }}"></label>
                {{ form.RecrutingNumPeople }}
                <p class="fs-3 mb-0 ms-2">人</p>
            </div>
        </div>
        <!--人数選択：採用任数-->
        <div class="col-12 col-sm-6">
            <label class="fs-4 mb-2">採用任数</label>
            <div class="d-flex align-items-center">
                <label class="fs-5 mb-2" for="{{ form.ApplyPeople.id_for_label }}"></label>
                {{ form.ApplyPeople }}
                <p class="fs-3 mb-0 ms-2">人</p>
            </div>
        </div>
      </div>
      <!--Application種別-->
      <div class="row mb-3">
        <div class="col-12 col-sm-6">
          <label class="fs-4 mb-2" for="{{ form.TestType.id_for_label }}">アプリケーション分類</label>
          {{ form.TestType }}
        </div>
        <div class="col-12 col-sm-6">
          <label class="fs-4 mb-2" for="{{ form.TestTypeSubcls.id_for_label }}">アプリケーション細分類</label>
          {{ form.TestTypeSubcls }}
        </div>
      </div>
      <!--日付-->
      <!---->
      <div class="border-bottom mb-3"></div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="fs-4 mb-2">募集開始日</label>
        </div>
        <div class="col-4 d-flex align-items-center">
          <label for="{{ form.recruiting_period_st_year.id_for_label }}"></label>
          {{ form.recruiting_period_st_year }}
          <p class="fs-3 mb-0 ms-2">年</p>
        </div>
        <div class="col-4 d-flex align-items-center">
          <label for="{{ form.recruiting_period_st_month.id_for_label }}"></label>
          {{ form.recruiting_period_st_month }}
          <p class="fs-3 mb-0 ms-2">月</p>
        </div>
        <div class="col-4 d-flex align-items-center">
          <label for="{{ form.recruiting_period_st_day.id_for_label }}" class="mr-2"></label>
          {{ form.recruiting_period_st_day }}
          <p class="fs-3 mb-0 ms-2">日</p>
        </div>
      </div>
      <!---->
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="fs-4 mb-2">募集終了日</label>
        </div>
        <div class="col-4 d-flex align-items-center">
          <label for="{{ form.recruiting_period_end_year.id_for_label }}"></label>
          {{ form.recruiting_period_end_year }}
          <p class="fs-3 mb-0 ms-2">年</p>
        </div>
        <div class="col-4 d-flex align-items-center">
          <label for="{{ form.recruiting_period_end_month.id_for_label }}"></label>
          {{ form.recruiting_period_end_month }}
          <p class="fs-3 mb-0 ms-2">月</p>
        </div>
        <div class="col-4 d-flex align-items-center">
          <label for="{{ form.recruiting_period_end_day.id_for_label }}"></label>
          {{ form.recruiting_period_end_day }}
          <p class="fs-3 mb-0 ms-2">日</p>
        </div>
      </div>
      <!---->
      <div class="border-bottom mb-3"></div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="fs-4 mb-2">テスト開始日</label>
        </div>
        <div class="col-4 d-flex align-items-center">
          <label for="{{ form.test_start_year.id_for_label }}"></label>
          {{ form.test_start_year }}
        <p class="fs-3 mb-0 ms-2">年</p>
        </div>
        <div class="col-4 d-flex align-items-center">
          <label for="{{ form.test_start_month.id_for_label }}"></label>
          {{ form.test_start_month }}
        <p class="fs-3 mb-0 ms-2">月</p>
        </div>
        <div class="col-4 d-flex align-items-center">
          <label for="{{ form.test_start_day.id_for_label }}"></label>
          {{ form.test_start_day }}
        <p class="fs-3 mb-0 ms-2">日</p>
        </div>
      </div>
      <!---->
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="fs-4 mb-2">テスト終了日</label>
        </div>
        <div class="col-4 d-flex align-items-center">
          <label for="{{ form.test_end_year.id_for_label }}"></label>
          {{ form.test_end_year }}
        <p class="fs-3 mb-0 ms-2">年</p>
        </div>
        <div class="col-4 d-flex align-items-center">
          <label for="{{ form.test_end_month.id_for_label }}"></label>
          {{ form.test_end_month }}
        <p class="fs-3 mb-0 ms-2">月</p>
        </div>
        <div class="col-4 d-flex align-items-center">
          <label for="{{ form.test_end_day.id_for_label }}"></label>
          {{ form.test_end_day }}
        <p class="fs-3 mb-0 ms-2">日</p>
        </div>
      </div>
      <div class="border-bottom mb-3"></div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
{% endblock %}

