{% extends 'global_menu.html' %}
{% block head_title %}Tester Recruting テスト作成{% endblock %}
{% load static %}
<head>
    <link href="{% static 'css/auth/createpost.css' %}" rel="stylesheet">
</head>
{% block content %}
  <div class="container mt-5">
    <h2>Create New Test Post</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group">
        <label for="{{ form.post_name.id_for_label }}"></label>
        {{ form.post_name }}
      </div>
      <div class="form-group">
        <label for="{{ form.description.id_for_label }}"></label>
        {{ form.description }}
      </div>
      <div class="form-group">
        <label for="{{ form.recruiting_num.id_for_label }}"></label>
        {{ form.recruiting_num }}
      </div>
      <div class="form-group">
        <label for="{{ form.apply_num.id_for_label }}"></label>
        {{ form.apply_num }}
      </div>
      <div class="form-group">
        <label for="{{ form.test_type.id_for_label }}"></label>
        {{ form.test_type }}
      </div>
      <div class="form-group">
        <label for="{{ form.test_type_subcls.id_for_label }}"></label>
        {{ form.test_type_subcls }}
      </div>
      <div class="form-group">
        <label for="{{ form.recruiting_period_st.id_for_label }}"></label>
        {{ form.recruiting_period_st }}
      </div>
      <div class="form-group">
        <label for="{{ form.recruiting_period_end.id_for_label }}"></label>
        {{ form.recruiting_period_end }}
      </div>
      <div class="form-group">
        <label for="{{ form.test_start.id_for_label }}"></label>
        {{ form.test_start }}
      </div>
      <div class="form-group">
        <label for="{{ form.test_end.id_for_label }}"></label>
        {{ form.test_end }}
      </div>
      <div class="form-group">
        <label for="{{ form.del_flg.id_for_label }}"></label>
        {{ form.del_flg }}
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
{% endblock %}