{% extends 'global_menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
    <!--タイトルはタスク名を入れる-->
</head>
<body>
    {% block content %}
    <p>{{postdetail.PostName}}</p>
    <p>user ditail view</p>
    <p>help</p>
    {% if existenceFlg == False %}
    <a href="{% url 'baseApp:ApplyTask' pk=postdetail.pk %}" class="btn btn-primary">Join Task</a>
    {% else %}
    {% endif %}
    {% endblock content %}
</body>
</html>