{% extends 'global_menu.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<title>{% block title %}Terec - ホーム{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/app/index.css' %}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 main-content">
                <!--news-->
                <div class="news-header py-4 mt-4 mb-5">
                    <img src="" alt="news-banner" class="img-fluid">
                </div>
                <!--new tests-->
                <div class="new-tests mb-3">
                    <h2 class="pb-3">新着テスト</h2>
                    <div class="row justify-content-center">
                        {% if newposts|length == 0 %}
                            <h3 class="col-12">新着テストはありません</h3>
                        {% else %}
                            {% for newpost in newposts reversed %}
                            <div class="col-12 col-md-6 col-lg-{% if newposts|length == 1 %}12{% elif newposts|length == 2 %}6{% else %}4{% endif %} mb-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h3 class="card-title">{{ newpost.PostName }}</h3>
                                        <p class="card-text app-type">アプリタイプ：{% if newpost.TestType == 1 %}ゲーム{% else %}アプリケーション{% endif %} : {{ newpost.TestTypeSubcls }}<br>オーナー：{{ newpost.CreateUser.username }}</p>
                                        <p class="card-text">テスト内容<br>{{ newpost.Discription | truncatechars:50 }}</p>
                                        <a href="{% url 'baseApp:detail' newpost.pk %}" class="btn btn-link">詳細を見る &gt;</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <!--recommend tests-->
                <div class="recommended-tests mt-4">
                    <h2 class="pb-2">おすすめテスト</h2>
                    <div class="row">
                        {% if recomendpost|length == 0 %}
                            <div class="nopost col-12 col-lg-8 mb-1">
                                <h3 class="col-12">おすすめテストはありません</h3>
                            </div>
                        {% else %}
                            {% for recopost in recomendpost %}
                            <div class="col-12 mb-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h3 class="card-title">{{ recopost.PostName }}</h3>
                                        <p class="card-text app-type">アプリタイプ：{% if recopost.TestType == 1 %}ゲーム{% else %}アプリケーション{% endif %} : {{ recopost.TestTypeSubcls }}<br>オーナー：{{ recopost.CreateUser.username }}</p>
                                        <p class="card-text">テスト内容<br>{{ recopost.Discription | truncatechars:100 }}</p>
                                        <a href="{% url 'baseApp:detail' recopost.pk %}" class="btn btn-link">詳細を見る &gt;</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--right area-->
            <div class="col-lg-2 d-none d-lg-block bg-light text-center right-sidebar">
                <!--<div class="adArea">
                    <h2 class="mt-4"></h2>
                    <div class="ad-placeholder"></div>
                </div>-->
                <div class="tasks">
                    <h2 class="mt-4 mb-2">ダイレクトメッセージ</h2>
                    <div class="row">
                        {% if rooms|length == 0 %}
                            <h3 class="col-12 text-start">DMはありません</h3>
                        {% else %}
                            {% for dm in rooms %}
                            <div class="col-12 mb-1">
                                <div class="card h-80">
                                    <a href="{% url 'baseApp:message_detail' dm.id %}" class="text-decoration-none text-reset">
                                        <div class="card-body d-flex align-items-center">
                                            {% with member=other_members|get_item:dm.id %}
                                            {% with message=dmMessage|get_item:dm.id %}
                                            <div class="row w-100 align-items-center">
                                                <div class="col-auto">
                                                    <img class="dm_user-image" src="{{ member.profile_img.url }}" alt="Profile Image">
                                                </div>
                                                <div class="col">
                                                    <div class="d-flex justify-content-between">
                                                        <p class="card-title mb-0 text-start">{{ member.username }}</p>
                                                        <p class="card-text mb-0 text-muted">{{ message.Created_at|date:"Y m d" }}</p>
                                                    </div>
                                                    <p class="card-text text-start">{{ message.Text | truncatechars:15 }}</p>
                                                </div>
                                            </div>
                                            {% endwith %}
                                            {% endwith %}
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}