{% extends 'global_menu.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p><a href="{% url 'baseApp:newslist' %}">News</a> > {{news.NewsTitle}}</p>
        </div>
        <div class="col-12">
            <div class="newsTitleArea mt-5">
                <h2>{{ news.NewsTitle }}</h2>
            </div>
            <hr>
            <div class="newsInnerArea mt-3">
                <div class="bunner mt-4 mb-5">
                    <img src="{{ news.RelatedBanner.bannerImg.url }}" alt="bunner">
                </div>
                <p class="mb-3">{{ news.Newsinner }}</p>
                <p>{{ news.CreateUser }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}