# Environments
.env
# .env.prodを.gitignoreする
.env.prod
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

・・・

# ignore static files



#app----
testerRecruting/__pycache__/
log/*
src/baseApp/__pycache__/
src/baseApp/views/__pycache__/
src/baseApp/db/application/__pycache__/
src/baseApp/views/auth/__pycache__/
src/baseApp/views/dm/__pycache__/
src/baseApp/forms/__pycache__/

src/baseApp/migrations/__init__.py
src/baseApp/migrations/
src/baseApp/images/user/profile/
src/baseApp/views/application/__pycache__/
src/baseApp/templatetags/__pycache__/
src/testerRecruting/__pycache__/
django.log