baseApp/__pycache__/*
baseApp/migrations/*
!baseApp/migrations/__init__.py
baseApp/db/application/__pycache__/*
testerRecruting/__pycache__/
baseApp/images/user/profile/*
baseApp/views/__pycache__/
baseApp/views/application/__pycache__/
django.log