testerRecruting/__pycache__/
baseApp/__pycache__/
baseApp/views/__pycache__/
baseApp/db/application/__pycache__/
baseApp/views/auth/__pycache__/
baseApp/views/dm/__pycache__/
baseApp/forms/__pycache__/

!baseApp/migrations/__init__.py
baseApp/migrations/
baseApp/images/user/profile/
baseApp/views/application/__pycache__/
baseApp/images/org/banner/

django.log