body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ffffff;
}

.logo img {
    height: 50px;
    width: auto;
    user-select: none;
}

.nav-link {
    color: #545454 !important;
}

.nav-link:hover {
    color: #13a5e4 !important;
}

.btn-primary {
    background-color: #13a5e4;
    border-color: #13a5e4;
    position: relative;
    overflow: hidden;
    transition: background-color 0.4s;
}

.btn-primary:hover {
    background-color: #12d0aa;
    border-color: #12d0aa;
}

.btn-primary::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(18, 208, 170, 0.5), rgba(69, 160, 73, 0.5));
    transition: left 0.4s;
}

.btn-primary:hover::after {
    left: 0;
}

.btn-primary span {
    position: relative;
    z-index: 1;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-top: 1rem;
    }
    
    .btn-primary {
        margin-top: 1rem;
        width: 100%;
    }
    
    .profile-icon {
        margin-top: 1rem;
    }

    .main-content {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 991.98px) {
    .main-content {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1400px;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {
    .container-fluid {
        max-width: 1600px;
    }
}

@media (min-width: 1600px) {
    .container-fluid {
        max-width: 1800px;
        width: 100%;
    }
}

.main-content {
    width: 70%; /* メインコンテンツの幅を60%に */
    margin: 0 auto;
}