body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #818181;
}

.logo img {
    height: 50px;
    width: auto;
    user-select: none;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #13a5e4 !important;
}

.btn-primary {
    background-color: #13a5e4;
    border-color: #13a5e4;
    position: relative;
    overflow: hidden;
    transition: background-color 0.4s;
}

.btn-primary:hover {
    background-color: #12d0aa;
    border-color: #12d0aa;
}

.btn-primary::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(18, 208, 170, 0.5), rgba(69, 160, 73, 0.5));
    transition: left 0.4s;
}

.btn-primary:hover::after {
    left: 0;
}

.btn-primary span {
    position: relative;
    z-index: 1;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-top: 1rem;
    }
    
    .btn-primary {
        margin-top: 1rem;
        width: 100%;
    }
    
    .profile-icon {
        margin-top: 1rem;
    }
}