{% extends 'global_menu.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/app/message.css' %}">
<h1>Messages with {{ other_user.username }}</h1>
<div class="message-container">
    {% for message in messages %}
        <div class="message {% if message.Sender == user %}message-right{% else %}message-left{% endif %}">
            <strong>{{ message.Sender.username }}</strong>
            <p>{{ message.Text }}</p>
            <span>{{ message.Created_at }}</span>
        </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-center mt-3">
    <form method="post" class="d-flex">
        {% csrf_token %}
        <div class="form-group me-2">
            {{ form.Text }}
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
{% endblock %}