.contact-area {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #FFFFFF;
    border-top: 15px solid #328BE9;
    border-right: 1px solid #328BE9;
    border-left: 1px solid #328BE9;
    border-bottom: 1px solid #328BE9;
}