<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="../static/global_manu.css">
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="logo.png" alt="Logo">
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Tests</a></li>
                <li><a href="#">What's TestHelper</a></li>
            </ul>
            <div class="user-actions">
                <button class="post-test-btn">Post Test</button>
                <div class="profile-icon"></div>
            </div>
        </nav>
    </header>
</body>