{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'css/global_manu.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'baseApp:index' %}">
                    <img src="{% static 'org/logos/Terec_Alpha2.png' %}" alt="Logo" height="40" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:newslist' %}">News</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:postlist' %}">Tests List</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:profile' user.username %}">My Account</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:thread_list'%}">DM</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'baseApp:contact' %}">contact</a></li>
                        {% if user.is_superuser %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">admin</a></li>
                        {% endif %}
                    </ul>
                    <div class="d-flex align-items-center">
                        <a href="{% url 'baseApp:createpost' %}" class="btn btn-primary me-2"><span>Post Test</span></a>
                        <a href="{% url 'baseApp:profile' user.username %}" class="profile-icon">
                            {% if user.profile_img != 'baseApp/static/org/user/profile/defalt.png' %}
                                <img class="user-image" src="{{ user.profile_img.url }}" alt="Profile Image">
                            {% else %}
                                <img class="default-image" src="{% static 'org\user\profile\defalt.png' %}" alt="Default Profile Image">
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-4 mb-5 flex-shrink-0">
        {% block content %}
            <!-- メインコンテンツはここにレンダリングされます -->
        {% endblock %}
    </main>
    <footer class="mt-auto bg-dark py-2 text-center fixed-bottom">
        <div class='container text-center'>
            <div class='mx-auto text-white'>
                <p>Copyright © Yuuya Shimada All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</body>