<div class="wrap">
    <div class="inputField">
        <form method="POST" action="{% url 'baseApp:changePassword' %}" class="logon-form">
            <div class="firstPassword">
                <p>新しいパスワードを入力してください</p>
                <input type="text">
            </div>
            <div class="secondPassword">
                <p>新しいパスワード（確認用）</p>
                <input type="text">
            </div>
            <div class="send">
                <button type="submit" class="btn btn-success btn-lg mb-3">変更する</button>
            </div>
        </form>
    </div>
</div>