{% extends 'global_menu.html' %}
<link href="{% static 'css/auth/logout.css' %}" rel="stylesheet">
<script src="{% static 'js/auth/logout.js' %}"></script>
<title>{% block title %}Terec - ログアウト{% endblock %}</title>
<div id="logoutModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Logout Confirmation</h2>
        <p>Are you sure you want to logout?</p>
        <button id="confirmLogout">Yes, Logout</button>
        <button id="cancelLogout">Cancel</button>
    </div>
</div>