{% extends 'global_menu.html' %}
{% block content %}
<form enctype="multipart/form-data" method="POST">
    {{ form.non_field_errors }}
    <table class="table">
        <tbody>
            <div class="input-field">
                <i class="fas fa-user"></i>
                {{ editform.UserBirth }}
                {% if editform.UserBirth.errors %}
                  <div class="error">
                      {{ editform.UserBirth.errors }}
                  </div>
                {% endif %}
              </div>
              <div class="input-field">
                <i class="fas fa-user"></i>
                {{ editform.UserGender }}
                {% if editform.UserGender.errors %}
                  <div class="error">
                      {{ editform.UserGender.errors }}
                  </div>
                {% endif %}
              </div>
              <div class="input-field">
                <i class="fas fa-user"></i>
                {{ editform.profile_img }}
                {% if editform.profile_img.errors %}
                    <div class="error">
                        {{ editform.profile_img.errors }}
                    </div>
                {% endif %}
            </div>
        </tbody>
    </table>
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-lg" >送信</button>
</form>
{% endblock %}