{% extends 'global_menu.html' %}
{% block content %}
<form action="" method="POST">
    {{ form.non_field_errors }}
    <table class="table">
        <tbody>
            <div class="input-field">
                <i class="fas fa-user"></i>
                {{ editform.UserBirth }}
                {% if editform.UserBirth.errors %}
                  <div class="error">
                      {{ editform.UserBirth.errors }}
                  </div>
                {% endif %}
              </div>
        </tbody>
    </table>
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-lg" >送信</button>
</form>
{% endblock %}