{% extends 'global_menu.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <p>profile page</p>
    <p>{{profile.username}}</p>
    <p>{{profile.UserBirth}}</p>
    <p>{{profile.UserGender}}</p>
    <p>{{profile.RunningTest}}</p>
    <p>{{profile.DoneTest}}</p>
    <p>{{profile.age}}</p>
    <p>{{profile.profile_img}}</p>
    <p>{{profile.email}}</p>
    {% endblock content %}
    <p>help</p>
</body>
</html>