{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/auth/register.css' %}" rel="stylesheet">
    <title>{% block title %}Terec{% endblock %}</title>
</head>
<body>
    <div>
        <nav class="navbar">
            <div class="logo">
                <a href="#"><img src="logo.png" alt="Logo"></a>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="forms-container">
            <div class="login-logon">
                <!--処理フォーム-->
                <!--ログイン-->
                <form method="POST" action="{% url 'baseApp:register' %}" class="login-form">
                    {% csrf_token %}
                    <h2 class="title">ログイン</h2>
                    <div class="input-field">
                      <i class="fas fa-user"></i>
                      {{ form_in.username }}
                      {% if form_in.username.errors %}
                        <div class="error">
                            {{ form_in.username.errors }}
                        </div>
                      {% endif %}
                    </div>
                    <div class="input-field">
                      <i class="fas fa-lock"></i>
                      {{ form_in.password }}
                      {% if form_in.password.errors %}
                        <div class="error">
                            {{ form_in.password.errors }}
                        </div>
                      {% endif %}
                    </div>
                    {% if form_in.non_field_errors %}
                    <div class="error">
                        {{ form_in.non_field_errors }}
                    </div>
                    {% endif %}
                    <input type="submit" name="login_btn" value="ログイン" class="btn solid" />
                  </form>
                </form>
                <!--ログオン-->
                <form method="POST" action="{% url 'baseApp:register' %}" class="logon-form">
                  {% csrf_token %}
                  <h2 class="title">Tester Recruting に登録</h2>
                  <div class="input-field">
                    <i class="fas fa-user"></i>
                    {{ form_up.username }}
                    {% if form_up.username.errors %}
                        <div class="error">
                            {{ form_up.username.errors }}
                        </div>
                    {% endif %}
                  </div>
                  <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    {{ form_up.email }}
                    {% if form_up.email.errors %}
                        <div class="error">
                            {{ form_up.email.errors }}
                        </div>
                    {% endif %}
                  </div>
                  <div class="input-field">
                    <i class="fas fa-lock"></i>
                    {{ form_up.password1 }}
                    {% if form_up.password1.errors %}
                        <div class="error">
                            {{ form_up.password1.errors }}
                        </div>
                    {% endif %}
                  </div>
                  <div class="input-field">
                    <i class="fas fa-lock"></i>
                    {{ form_up.password2 }}
                    {% if form_up.password2.errors %}
                        <div class="error">
                            {{ form_up.password2.errors }}
                        </div>
                    {% endif %}
                  </div>
                  {% if form_up.non_field_errors %}
                    <div class="error">
                        {{ form_up.non_field_errors }}
                    </div>
                  {% endif %}
                  <input type="submit" name="logon_btn" class="btn" value="登録" />
                </form>
            </div>
        </div>
        <!--処理選択パネル-->
        <div class="panels-container">
            <div class="panel left-panel">
              <div class="content">
                <h3>アカウントをお持ちですか？</h3>
                <p>
                  今すぐ登録してアプリケーションテストに参加しましょう！
                </p>
                <button class="btn transparent" id="logon-btn">
                  登録
                </button>
              </div>
            </div>
            <div class="panel right-panel">
              <div class="content">
                <h3>既にアカウントをお持ちですか？</h3>
                <p>
                  ログインし
                </p>
                <button class="btn transparent" id="login-btn">
                  ログイン
                </button>
              </div>
            </div>
          </div>
    </div>
    <script src="{% static 'js/auth/register.js' %}"></script>
</body>
</html>
{% block content %}
{% endblock content %}